@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Spartan:wght@400;500;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  font-family: "Spartan", sans-serif;
  background-color:hsl(0, 0%, 100%);
}
.content{
  max-width: 375px;
  margin: 0 auto;
  padding: 3rem 1rem;
}
.main-content {
  margin-bottom: 3em;
}
.main-text {
  margin-bottom: 3em;
  text-align: center;
}
.main-text > h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color:  hsl(300, 43%, 22%);
  margin-bottom: 1em;
}
.main-text > p {
  font-size: 1.125rem;
  font-weight: 500;
  color: hsl(303, 10%, 53%);
}
.bottom-rating {
  text-align: center;
}
.rating {
  padding: 1em 1.5em; 
  margin: 1em 0;
  background-color: hsl(300, 24%, 96%);
  border-radius: 0.5em;
}
.rating-img {
  padding-bottom: 1em;
}
.rating > h3 {
  font-size: 1rem;
  font-weight: 700;
  color:  hsl(300, 43%, 22%);
}
.card {
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.7em;
  padding: 2.5em 2.2em;
  margin: 1em 0;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.profile-img {
  width: 3em;
}
.profile-img > img {
  width: 100%;
  border-radius: 50%;
}
.profile .profile-text {
  margin-left: 1em;
}
.profile .profile-text >h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  color:  hsl(0, 0%, 100%);
}
.profile .profile-text >h5 {
  font-size: 1rem;
  font-weight: 400;
  color:  hsl(333, 56%, 56%);
}
.card-text {
  font-size: 1rem;
  font-weight: 400;
  color:  hsl(300, 22%, 83%);
  line-height: 1.3;
}
@media only screen and (min-width:850px) {
  .content {
     width: 100%; 
     max-width: 1024px;
     padding: 2rem 1em;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 2em;
  }
  .main-text {
    max-width: 40%;
    text-align: left;
    margin-bottom: 0;
  }
  .main-text > h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom:0.5em;
  }
  .rating {
    display: flex;
    justify-content:flex-start;
    padding: 1em;

  }
  .rating-img{
    padding: 0;
    margin-right: 1em;
  }
  .reviews {
   margin-left: -5em;
   margin-right: 5em;
  }
  .report {
    margin-left: -3em;
    margin-right: 3em;
  }

  .main-text > p {
    font-size: 1rem;
    font-weight: 400;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    padding: 2.5em 1.5em;
    margin: 0 0.8em;
  }
  .card-2nd {
    margin-top: 2em;
  }
  .card-3rd {
    margin-top: 4em;
  }
  .card-text {
    font-size:0.85rem;
    font-weight: 500;
  }
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/images/bg-pattern-top-desktop.svg);
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.top h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
.top p {
  font-size: 0.9rem;
  color: hsl(303, 10%, 53%);
}
.customer-rating {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f2f8;
  padding: 0.7rem 1.5rem;
  margin-bottom: 0.8rem;
  font-size: 0.7rem;
  align-items: center;
  border-radius: 10px;
}
.rating-img {
  margin-right: 1rem;
}
.rating-1st-text h3 {
  color: hsl(300, 43%, 22%);
}
.rating-2nd-text h3 {
  color: hsl(300, 43%, 22%);
}
.rating-3rd-text h3 {
  color: hsl(300, 43%, 22%);
}
.rating-2nd {
  margin-left: 1rem;
}
.rating-3rd {
  margin-left: 2rem;
}
.bottom-ratings {
  margin-top: 50px;
}
.rating-card {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 340px;
  height: 200px;
  background-color: #511f50;
  margin-right: 1rem;
  padding: 20px 15px;
  border-radius: 8px;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 50px;
  height: auto;
  border-radius: 100px;
  margin-right: 1rem;
}
.profile h3 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 3px;
}
.profile h5 {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(333, 80%, 67%);
}
.review p {
  font-size: 0.8rem;
  color: hsl(303, 10%, 53%);
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.1rem;
}
.rating-card-2 {
  margin-top: 1rem;
}
.rating-card-3 {
  margin-top: 2rem;
}
.bottom-ratings {
  background-image: url(/images/bg-pattern-bottom-desktop.svg);
}
@media (max-width: 375px) {
  .top h1 {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    background-image: url(/images/bg-pattern-top-mobile.svg);
  }
  .top p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .rating-2nd {
    margin-left: 0;
  }
  .rating-3rd {
    margin-left: 0;
  }
  .rating-img {
    margin-right: 0;
  }
  .customer-rating {
    justify-content: center;
  }
  .rating-card {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .card {
    width: 100%;
    margin-top: 1rem;
  }
  .bottom-ratings {
    margin-top: 0;
    margin-bottom: 1rem;
    background-image: url(/images/bg-pattern-bottom-mobile.svg);
    background-position: bottom;
  }
} */
